{{ "<!-- SERVICES -->" | safeHTML }}

<section id="pagina1">
    {{ with .Site.Params.services.headline }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <font color="White">

                    <h2><b>  Your Social Media Team That Will Put Your Brand on Auto-Pilot. You Control Your Content, We Deliver It at an Affordable Price! </h>
                </div>
            </div>
        </div>
<body background="img/fondo.png">
        <center>
Your Social Media Team That Will Put Your Brand on Auto-Pilot. You Control Your Content, We Deliver It at an Affordable Price!
Your customers want to know who you are. We at $200 Social believe an EFFECTIVE Social Media plan must include the voice of the business owner.
We know you are busy. The problem is that your competitors are catching on to the power of Social Media. What are you doing about it? Do you have 5 minutes per day to build your brand? Can you use a smartphone?

</font>
                    <li><a>
                        <figure id="img-fruit"><img src="img/in.png" alt=""></figure>
                    </a></li>


</center> 
    {{ end }}

  
    </div>
</section>