{{ "<!-- SERVICES -->" | safeHTML }}

<section id="services">
    {{ with .Site.Params.services.headline }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <font color="White">

                    <h2><b>  Your Social Media Team That Will Put Your Brand on Auto-Pilot. You Control <br>Your Content, We Deliver It at an Affordable Price! </h>
                </div>
            </div>
        </div>
<body background="img/fondo.png">
        <center>
<h3><b>Your customers want to know who you are. We at $200 Social believe an EFFECTIVE Social Media plan<br> must include the voice of the business owner.<br>
We know you are busy. The problem is that your competitors are catching on to the power of Social<br> Media. What are you doing about it? Do you have 5 minutes per day to build your brand? Can you use<br> a smartphone?<b></h3>
</font>

                <li> <figure id="img-fruit"><img src="img/in.png" alt=""></figure>  </li>


</center> 
    {{ end }}

  
    </div>
</section>