{{ "<!-- CONTACT -->" | safeHTML }}
                             <img src="img/prom.jpg" width="1450" height="200" >
<section class="bg-warning" id="about">

<section id="contact">
    <div class="container">
        <div class="row">
{{if eq .Url "404.html"}}
  Custom 404 Title String
{{else}}
  {{.Title}}
{{end}}

                {{ with .Site.Params.contact.headline }}
                    
                {{ end }}

<table border=0 align="left"><td>
<h2><p class="text-muted"> Why Should You Use $200 Social?</h2>

<h4><p class="text-muted">$200 Social is different than any other Social Media management agency <br> because we believe the business owner should be involved in the conversation.<br> We have been doing Social Media for clients for over 5 years and we have <br>learned that theclients who take the SOCIAL in Social Media serious are the<br> ones who receive the most benefit from it.<br>
<br>

What we are doing for your business is optimizing your Social Media presence <br> and saving you massive amounts of time.Whether you choose the Basic  $200 <br>Social plan or the Ultimate Brand Builder $200 Social plan your company will <br>benefit. Your success is the success  of $200 Social. We want you to be so happy <br>with our service that you recommend us to all of your friends.<br></h4>
</td></tr> </table>
<br>

<table width="40%" bgcolor="" border="" cellspacing="0" cellpadding="4" align="center" bordercolor="#3A4149" style="BORDER-COLLAPSE: collapse">
        <TR><TD align=""><h3><p class="text-muted">What kind of clients do you work with?<br>

<h4><p class="text-muted">$200 Social works with the Crypto Currency Community, small business owners, brands and professionals.
</table>
</form>
<br>
<table width="40%" bgcolor="" border="1" cellspacing="0" cellpadding="4" align="center" bordercolor="#3A4149" style="BORDER-COLLAPSE: collapse">
        <TR><TD align=""><h3><p class="text-muted">What is your turn around time?<br>

<h4><p class="text-muted">Once you deliver the needed information and payment $200 Social can be up and running within 3 working days</table>
</form>
<br>
<table width="40%" bgcolor="" border="" cellspacing="0" cellpadding="4" align="center" bordercolor="#3A4149" style="BORDER-COLLAPSE: collapse">
        <TR><TD align=""><h3><p class="text-muted">Do you have an affiliate program?<br>

<h4><p class="text-muted">$200 Social does not have an affiliate program at this time since.
</table>
</form>


<br>
<br>
<br>
<table border="0" width="100%" cellpadding="5" cellspacing="5">


<tr>
<td width="30%">

<table >
<tr>
<td> <font color="#000">  <center><img src="img/logo1.png"> </center></td>
</tr>
<tr>
<td> <font color="#000"> Steemit is a Decentralized social media <br>blogging community that pays you<br> to post and to vote. Join today! <br>Follow <a href="https://twitter.com/steemit">@Steemit</a> on Twitter. <br></br> <br></td>
</tr>
<tr>
<td> <center><a href="https://steemit.com/"> Steemit.com</a> </center></td>
</tr>
</table>
</td>


<td width="30%">
<table border="">
<tr>
<td> <font color="#000"> <center><img src="img/logo2.png"> </center></td>
</tr>
<tr>
<td> <font color="#000"> The Dollar Vigilante is an alternative <br>news source based in Acapulco, <br>Mexico. The TDV newsletters goal is to <br>help you Survive and prosper during <br>and after an economic collapse. <br>Follow <a href="https://twitter.com/DollarVigilante"> @DollarVigilante</a> on Twitter.</td>
</tr>
<tr>

<td> <center> <br><a href="https://dollarvigilante.com/"> The Dollar Vigilante</a> </center></td>
</tr>
</table>
</td>

<td width="30%">
<table border="">
<tr>
<td> <font color="#000">  <center><img src="img/logo3.png"> </center></td>
</tr>
<tr>
<td> <font color="#000"> Mama Gaia Organic is a fast-casual dining<br> experience offering only organic,<br> vegetarian menu options at affordable prices. <br>The restaurant is located in the<br> Crosstown Concourse in Memphis, TN. <br>Follow on Twitter<a href="https://twitter.com/MamaGaiaOrganic"> @MamaGaiaOrganic.</td></a>
<br>
</tr>
<tr>
<td> <center><br><a href="http://mamagaia.net/"> Mama Gaia Organic</a> </center></td>
</tr>
</table>
</td>
</tr>
</table>




            </div>
         
          
        </div>
    </div>
</section>

