{{ "<!-- CONTACT -->" | safeHTML }}
                            <img src="img/prom.jpg" width="1450" height="200" >

<section id="contact">
    <div class="container">
        <div class="row">
 

                {{ with .Site.Params.contact.headline }}
                    
                {{ end }}

<table border=0 align="left"><td>
<h2> Why Should You Use $200 Social?</h2>

<h5>$200 Social is different than any other Social Media management agency <br> because we believe the business owner should be involved in the conversation.<br> We have been doing Social Media for clients for over 5 years and we have <br>learned that theclients who take the SOCIAL in Social Media serious are the<br> ones who receive the most benefit from it.<br>
<br>

What we are doing for your business is optimizing your Social Media presence <br> and saving you massive amounts of time.Whether you choose <br>the Basic  $200 <br>Social plan or the Ultimate Brand Builder $200 Social plan your company will <br>benefit.<br>  Your success is the success  of $200 Social. We want you to be so happy <br>with our service that you recommend us to all of your friends.<br></h5>
</td></tr> </table>
<br>

<table width="40%" bgcolor="" border="1" cellspacing="0" cellpadding="4" align="center" bordercolor="#CCCCCC" style="BORDER-COLLAPSE: collapse">
        <TR><TD align="" bgcolor="#EAEAEA">What kind of clients do you work with?<br>

$200 Social works with the Crypto Currency Community, small business owners, brands and professionals.
</table>
</form>
<br>
<table width="40%" bgcolor="" border="1" cellspacing="0" cellpadding="4" align="center" bordercolor="#CCCCCC" style="BORDER-COLLAPSE: collapse">
        <TR><TD align="" bgcolor="#EAEAEA">What kind of clients do you work with?<br>

$200 Social works with the Crypto Currency Community, small business owners, brands and professionals.
</table>
</form>
<br>

<table width="40%" bgcolor="" border="1" cellspacing="0" cellpadding="4" align="center" bordercolor="#CCCCCC" style="BORDER-COLLAPSE: collapse">
        <TR><TD align="" bgcolor="#EAEAEA">What kind of clients do you work with?<br>

$200 Social works with the Crypto Currency Community, small business owners, brands and professionals.
</table>
</form>



<table border="0" width="100%" cellpadding="5" cellspacing="5">


<tr>
<td width="30%">

<table border="3" >
<tr>
<td  bgcolor="#fff"> <font color="#000">  <center><img src="img/logo1.png"> </center></td>
</tr>
<tr>
<td  bgcolor="#fff"> <font color="#000"> Steemit is a Decentralized social media <br>blogging community that pays you<br> to post and to vote. Join today! <br>Follow @Steemit on Twitter. <br></br> <br></td>
</tr>
<tr>
<td  bgcolor="#fff"> <center><a href="https://steemit.com/"> Steemit.com</a> </center></td>
</tr>
</table>
</td>


<td width="30%">
<table border="3">
<tr>
<td  bgcolor="#fff"> <font color="#000"> <center><img src="img/logo2.png"> </center></td>
</tr>
<tr>
<td  bgcolor="#fff"> <font color="#000"> The Dollar Vigilante is an alternative <br>news source based in Acapulco, <br>Mexico. The TDV newsletters goal is to <br>help you Survive and prosper during <br>and after an economic collapse. <br>Follow @DollarVigilante on Twitter.</td>
</tr>
<tr>
<td  bgcolor="#fff"> <center><a href="https://dollarvigilante.com/"> The Dollar Vigilante</a> </center></td>
</tr>
</table>
</td>



<td width="30%">
<table border="3">
<tr>
<td  bgcolor="#fff"> <font color="#000">  <center><img src="img/logo3.png"> </center></td>
</tr>
<tr>
<td  bgcolor="#fff"> <font color="#000"> Mama Gaia Organic is a fast-casual dining<br> experience offering only organic,<br> vegetarian menu options at affordable prices. <br>The restaurant is located in the<br> Crosstown Concourse in Memphis, TN. <br>Follow on Twitter @MamaGaiaOrganic.</td>
</tr>
<tr>
<td  bgcolor="#fff"> <center><a href="http://mamagaia.net/"> Mama Gaia Organic</a> </center></td>
</tr>
</table>
</td>
</tr>
</table>




            </div>
         
          
        </div>
    </div>
</section>

