{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            {{ with .Site.Params.hero.slogan }}
                <h1> <font color="#000"> </h1><!-- AQUI VA EL TITULO -->
            {{ end }}
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
            
            {{ end }}
            {{ with .Site.Params.hero.subtitle }}
                <p><font color="#000"> </p> <!-- AQUI EL SUBTITULOO -->
            {{ end }}
            {{ with .Site.Params.hero.buttonText }}
            {{ end }}
        </div>
    </div>
</header>
